<% @games.each do |game| %>
<div class="">
    <p><%=link_to game.title, game_path(game) %></p>
    <%= image_tag game.image %>
    <p><small>Genre: </small><%= game.genre.name %></p>
</div>
<br>
<%end%>